<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>cimsmgs2</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:*-context.xml</param-value>
    </context-param>
    <context-param>
        <param-name>mailServer</param-name>
        <param-value>mail.isc.by</param-value>
    </context-param>
    <context-param>
        <param-name>mailPort</param-name>
        <param-value>25</param-value>
    </context-param>
    <context-param>
        <param-name>mailAccount</param-name>
        <param-value>dpg</param-value>
    </context-param>
    <context-param>
        <param-name>mailPassword</param-name>
        <param-value>()75popkap</param-value>
    </context-param>
    <context-param>
        <param-name>mailSender</param-name>
        <param-value>dpg@isc.by</param-value>
    </context-param>

    <context-param>
        <param-name>TDGServer</param-name>
        <param-value>https://portal.trdg.ru</param-value>
    </context-param>

    <context-param>
        <param-name>TDGAccount</param-name>
        <param-value>PortalTK_1</param-value>
    </context-param>

    <context-param>
        <param-name>TDGPassword</param-name>
        <param-value>EkV8zEvV4j</param-value>
    </context-param>

    <context-param>
        <param-name>TBCKeyStoreName</param-name>
        <param-value>JKS</param-value>
    </context-param>

    <context-param>
        <param-name>TBCKeyAlias</param-name>
        <param-value>test_lv</param-value>
    </context-param>

    <context-param>
        <param-name>TBCKeyPassword</param-name>
        <param-value>12345678</param-value>
    </context-param>

    <context-param>
        <param-name>TBCCertStorePath</param-name>
        <param-value>/keys/keystore</param-value>
    </context-param>

    <context-param>
        <param-name>TBCCertStorePassword</param-name>
        <param-value>12345678</param-value>
    </context-param>

    <context-param>
        <param-name>TBCSoapHost</param-name>
        <param-value>https://serv2.tbc.su:4443/ascnew/AscAscDocs.svc</param-value>
    </context-param>

    <context-param>
        <param-name>TBCSoapLogin</param-name>
        <param-value>aed_asc_asc</param-value>
    </context-param>

    <context-param>
        <param-name>TBCSoapPass</param-name>
        <param-value>3R5T7I6W</param-value>
    </context-param>

    <context-param>
        <param-name>TBCSoapRepositoryPath</param-name>
        <param-value>/repository</param-value>
    </context-param>

    <context-param>
        <param-name>TBCDebugLevel</param-name>
        <param-value>1</param-value>
    </context-param>

    <context-param>
        <param-name>TBCFinalStatus</param-name>
        <param-value>15</param-value>
    </context-param>

    <context-param>
        <param-name>periodOfCahgePasswordInDays</param-name>
        <param-value>91</param-value>
    </context-param>

    <!--<context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/classes/log4j.xml</param-value>
    </context-param>-->
    <!--<context-param>
        <param-name>log4jExposeWebAppRoot</param-name>
        <param-value>false</param-value>
    </context-param>-->
    <filter>
        <filter-name>MDCInsertingServletFilter</filter-name>
        <filter-class>
            ch.qos.logback.classic.helpers.MDCInsertingServletFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MDCInsertingServletFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.bivc.cimsmgs.commons.InitResources</listener-class>
    </listener>
    <!--<listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>-->
    <!--   <listener> -->
    <!--     <listener-class>com.bivc.cimsmgs.commons.SessionListener</listener-class> -->
    <!--   </listener> -->
    <!--<error-page>
        <error-code>500</error-code>
        <location>/jsp/Exception.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/Exception.jsp</location>
    </error-page>-->
    <!--<session-config>
        <session-timeout>1</session-timeout>
    </session-config>-->
</web-app>

