/*.docs_background {
    background-color: gray;
}*/
/*.x-grid-row-over .x-grid-cell-inner {
    font-weight: bold;
}*/
/*.x-boundlist-item {
    min-height: 20px;
}*/
.rotate90 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.hideTreeNode {
    display: none;
}

.showTreeNode {
    display: block;
}

.selectTreeNode {
    background-color: #c7d0a0;
}

.grid-13px-height .x-grid-cell-inner {
    padding-top: 2px;
    padding-bottom: 2px;
    height: 16px;
}

.wrap .x-grid-cell-inner {
    white-space: normal;
}

.overflowY .x-window-body > .x-box-inner {
    overflow-y: auto;
}

.overflowX .x-window-body > .x-box-inner {
    overflow-x: auto;
}

.cont1 {
    background: url(./../images/cont1.png) no-repeat !important;
}

.train {
    background: url(./../images/train.gif) no-repeat !important;
}

.filter_check {
    background-image: url(./../images/filter_check.png) !important;
}

.cont {
    background: url(./../images/kont.png) no-repeat !important;
}

.red {
    color: red;
}

.green {
    color: green;
}

.header-main {
    font-size: 16px;
    padding-top: 2px;
}

.header-items-main {
    padding-top: 20px;
}

.header-logo {
    background: url("../images/tk-logo2.gif") no-repeat scroll -20px 0 transparent;
    padding-left: 65px;
    font-weight: bold;
}

.header-logo1 span {
    display: none;
}

.header-logo1 {
    background: url("../images/logo.png") no-repeat scroll 10px 0 transparent;
}

.x-check-group-alt {
    background: #D1DDEF;
    border: 1px dotted #B5B8C8;
}

.top {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #E2E0E0;
    color: #9B9B9B;
    height: 25px;
    line-height: 25px;
    padding: 0 30px;
}

.top .left {
    float: left;
}

.top .right {
    float: right;
    font-size: 91%;
    width: 515px;
}

#loading {
    position: absolute;
    width: 180px;
    margin: -85px 0 0 -65px;
    height: 140px;
    top: 50%;
    left: 50%;
}

/*#loading .title {
    background: url(../images/tk-logo.gif) no-repeat;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 108px;
    height: 44px;
}*/

#loading .logo {
    background: url(../images/loading1.gif) no-repeat;
    position: absolute;
    display: block;
    top: 44px;
    left: 22px;
    width: 120px;
    height: 120px;
}

.lang-combo {
    float: right;
    margin-right: 5px;
    margin-top: 20px;
}

.browser-header {
    text-align: right;
    color: red;
}

.user-header {
    text-align: right;
    margin-top: 4px;
}

.locale-header {
    margin-top: 23px;
    font-size: 0.9em
}

div {
    font-size: 105%;
}

input {
    font-size: 110% !important;
}

textarea {
    font-size: 105% !important;
}

button span {
    font-size: 100% !important;
}

.x-column-header-inner .x-column-header-text {
    white-space: normal;
}

.bold {
    font-weight: bold;
}

.width100 {
    width: 100%;
}

.div-active {
    background-color: #D9E8FB;
}

.overflow {
    overflow-y: auto;
}

.hide_el {
    display: none;
}

.show-el {
    dispaly: block;
}

.x-column-header-inner {
    text-align: center;
}

#header-content {
    /*color: #FFFFFF;*/
    background: url("../images/tk-logo.gif") no-repeat scroll 0 0 transparent;
    /*font-family: "Helvetica Neue","Helvetica","Arial","Lucida Grande",sans-serif;*/
    font-size: 1.3em;
    line-height: 25px;
    margin: 2px 0 0 5px;
    padding-left: 120px;
    padding-top: 18px;
}

.x-action-col-cell img {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0px 5px 0px 2px;
}

/*.ux-cell-value {
    position:relative;
    zoom:1;
}
.ux-cell-actions {
    position:absolute;
    right:0;
    top:-2px;
}
.ux-cell-actions-left {
    left:0;
    top:-2px;
}
.ux-cell-action {
    width:16px;
    height:16px;
    float:left;
    margin: 0 0 0 4px;
}
.ux-cell-actions-left .ux-cell-action {
    margin: 0 4px 0 0;
}*/
.x-form-focus {
    background: url("../images/form/text-bg.gif") no-repeat scroll 0 0 #D9E8FB;
}

textarea.x-form-focus {
    background: url("../images/form/text-bg.gif") no-repeat scroll 0 0 #D9E8FB;
}

.gruz-guN-td1 {
    width: 9%;
}

.gruz-guN-td2 {
    width: 9.5%;
}

.gruz-guN-td3 {
    width: 81.5%;
}

.gruz-gu-td1 {
    width: 8.5%;
}

.gruz-gu-td2 {
    width: 8.5%;
}

.gruz-gu-td3 {
    width: 83%;
}

.gruz-td1 {
    width: 19%;
}

.gruz-td2 {
    width: 71%;
}

.gruz-td3 {
    width: 10%;
}

.vag-td1 {
    width: 53%;
}

.vag-td2 {
    width: 16.7%;
}

.vag-td3 {
    width: 9.5%;
}

.vag-td4 {
    width: 20.8%;
}

.perevoz-td1 {
    width: 205px;
}

.perevoz-td2 {
    width: 292px;
}

.perevoz-td3 {
    width: 115px;
}


.smgs2-vag-g7 {
    width: 263px;
}

.smgs2-vag-g8 {
    width: 47px;
}

.smgs2-vag-g9 {
    width: 56px;
}

.smgs2-vag-g10 {
    width: 46px;
}

.smgs2-vag-g11 {
    width: 88px;
}

.smgs2-vag-g12 {
    width: 59px;
}

.smgs2-gruz-g15 {
    width: 555px;
}

.smgs2-gruz-g16 {
    width: 115px;
}

.smgs2-gruz-g17 {
    width: 115px;
}

.smgs2-gruz-g18 {
    width: 115px;
}


.g20-td1, .g20-td2, .g20-td3, .g20-td4, .g20-td5 {
    width: 20%;
}

.td {
    vertical-align: top;
}

.bg-c-white {
    background-color: white;
}

.bg-c-yellow {
    background: #feff6e none;
}

.cimsmgs-scan {
    background: url(./../images/cimsmgs3.jpg) no-repeat;
}

.multiselect {
    margin-bottom: 10px;
}

.field-padd {
    padding: 10px 10px;
}

.x-required {
    font-weight: bold;
    color: red;
}

.train2 {
    background: url(./../images/train.png) no-repeat !important;
}

.select {
    background: url(./../images/select.png) no-repeat !important;
}

.plus {
    background: url(./../images/plus.png) no-repeat !important;
}

.minus {
    background: url(./../images/minus.png) no-repeat !important;
}

.rewrite {
    background: url(./../images/rewrite.png) no-repeat !important;
}

.restore {
    background: url(./../images/restore.png) no-repeat !important;
}

.update {
    background: url(./../images/update2.png) no-repeat !important;
}

.dop-list {
    background-image: url(./../images/list.png) !important;
}

.conts {
    background-image: url(./../images/conts.png) !important;
}

.cont2 {
    background: url(./../images/cont2.png) no-repeat !important;
}

.cont3 {
    background: url(./../images/cont4.png) no-repeat !important;
}

.gryz {
    background: url(./../images/cargo.png) no-repeat !important;
}

.danGryz {
    background: url(./../images/dan_gruz.png) no-repeat !important;
}

.comments {
    background-image: url(./../images/comments.png) !important;
}

.export2Xls {
    background-image: url(./../images/export2Xls.png) !important;
}

.download {
    background-image: url(./../images/download.gif) !important;
}

.info {
    background-image: url(./../images/info.png) !important;
}

.change {
    background-image: url(./../images/change.gif) !important;
}

.bind {
    background-image: url(./../images/bind.png) !important;
}

.bind1 {
    background-image: url(./../images/bind1.png) !important;
}

.print {
    background-image: url(./../images/print1.gif) !important;
}

.print1 {
    background-image: url(./../images/print.gif) !important;
}

.signature {
    background-image: url(./../images/signature.gif) !important;
}

.history {
    background-image: url(./../images/history.gif) !important;
}

.upload {
    background-image: url(./../images/upload.gif) !important;
}

.aviso {
    background-image: url(./../images/aviso.gif) !important;
}

.view {
    background-image: url(./../images/view.gif) !important;
}

.template {
    background-image: url(./../images/template.gif) !important;
}

.invoice {
    background-image: url(./../images/invoice.gif) !important;
}

.report {
    background-image: url(./../images/report.gif) !important;
}

.smgs1 {
    background-image: url(./../images/smgs1.gif) !important;
}

.filter {
    background-image: url(./../images/filter.gif) !important;
}

.saveas_print {
    background-image: url(./../images/saveas_print.gif) !important;
}

.saveas {
    background-image: url(./../images/saveas.gif) !important;
}

.save_close {
    background-image: url(./../images/save_close.png) !important;
}

.add1 {
    background-image: url(./../images/add.png) !important;
}

.check1 {
    background-image: url(./../images/check.png) !important;
}

.delete1 {
    background-image: url(./../images/delete.png) !important;
}

.edit1 {
    background-image: url(./../images/edit.png) !important;
}

.user_edit {
    background-image: url(./../images/user_edit.gif) !important;
}

.user_edit2 {
    background-image: url(./../images/user_edit2.gif) !important;
}

.refresh {
    background-image: url(./../images/refresh.gif) !important;
}

.user_del {
    background-image: url(./../images/user_del.gif) !important;
}

.user_add {
    background-image: url(./../images/user_add.gif) !important;
}

.users {
    background-image: url(./../images/users.gif) !important;
}

.nsimanager {
    background-image: url(./../images/dir.gif) !important;
}

.instr {
    background-image: url(./../images/instr.gif) !important;
}

.logs {
    background-image: url(./../images/logs.gif) !important;
}

.routes {
    background-image: url(./../images/route.gif) !important;
}

.route1 {
    background-image: url(./../images/route1.gif) !important;
}

.route2 {
    background-image: url(./../images/route2.gif) !important;
}

.paragr {
    background-image: url(./../images/paragr2.gif) !important;
}

.save_print {
    background-image: url(./../images/save_print.gif) !important;
}

.logout {
    background-image: url(./../images/logout.gif) !important;
}

.save_print1 {
    background-image: url(./../images/save_print1.gif) !important;
}

.save_print2 {
    background-image: url(./../images/save_print2.gif) !important;
}

.save_print3 {
    background-image: url(./../images/save_print3.gif) !important;
}

.del1 {
    background-image: url(./../images/del1.gif) !important;
}

.copyData {
    background-image: url(./../images/copy-16.gif) !important;
}

.add {
    background-image: url(./../images/add.gif) !important;
}

.save {
    background-image: url(./../images/save.gif) !important;
}

.pdf_print {
    background-image: url(./../images/pdf_print.gif) !important;
}

.exit {
    background-image: url(./../images/exit.gif) !important;
}

.close1 {
    background-image: url(./../images/close1.gif) !important;
}

.search {
    background-image: url(./../images/search.png) !important;
}

.del {
    background-image: url(./../images/del.gif) !important;
}

.edit {
    background-image: url(./../images/edit.gif) !important;
}

.copy {
    background-image: url(./../images/docs_new.gif) !important;
}

.packet {
    background-image: url(./../images/packet.gif) !important;
}

.dir {
    background-image: url(./../images/trigger_dir.gif) !important;
}

.letter {
    background-image: url(./../images/letter.gif) !important;
}

.doc_new {
    background-image: url(./../images/doc_new.gif) !important;
}

.doc_view {
    background-image: url(./../images/doc_view.gif) !important;
}

.docs_new {
    background-image: url(./../images/docs_new.gif) !important;
}

.smgs {
    background-image: url(./../images/smgs.gif) !important;
}

.scan {
    background-image: url(./../images/scan.gif) !important;
}

.close {
    background-image: url(./../images/close.gif) !important;
}

.locked {
    background-image: url(./../images/locked.gif) !important;
}

.open {
    background-image: url(./../images/open.gif) !important;
}

.smgs_dop {
    background-image: url(./../images/smgs_dop.gif) !important;
}

.smgs_kon {
    background-image: url(./../images/smgs_kon.gif) !important;
}

.smgs_vag {
    background-image: url(./../images/smgs_vag.gif) !important;
}

.status {
    background-image: url(./../images/status.gif) !important;
}

.iftmin {
    background-image: url(./../images/iftmin.gif) !important;
}

.paket {
    background-image: url(./../images/paket.gif) !important;
}

.smgs_back {
    background-image: url(./../images/smgs_back.gif) !important;
}

.blank {
    background-image: url(./../images/blank.gif) !important;
}

.pdf_blank {
    background-image: url(./../images/pdf_blank.gif) !important;
}

.blank_back {
    background-image: url(./../images/blank_back.gif) !important;
}

.pdf_blank_back {
    background-image: url(./../images/pdf_blank_back.gif) !important;
}

.blank_off {
    background-image: url(./../images/blank_off.gif) !important;
}

.pdf_blank_off {
    background-image: url(./../images/pdf_blank_off.gif) !important;
}

.blank_off_back {
    background-image: url(./../images/blank_off_back.gif) !important;
}

.pdf_blank_off_back {
    background-image: url(./../images/pdf_blank_off_back.gif) !important;
}

.copy1 {
    background-image: url(./../images/copy1.gif) !important;
}

.copy2 {
    background-image: url(./../images/copy2.gif) !important;
}

.copy3 {
    background-image: url(./../images/copy3.gif) !important;
}

.copy4 {
    background-image: url(./../images/copy4.gif) !important;
}

.copy5 {
    background-image: url(./../images/copy5.gif) !important;
}

.copy6 {
    background-image: url(./../images/copy6.gif) !important;
}

.clear {
    background-image: url(./../images/clear-16.gif) !important;
}

.truck {
    background-image: url(./../images/truck.png) !important;
}

.s_arrow_r {
    background-image: url(./../images/s_arrow_r.png) !important;
}

.d_arrow_r {
    background-image: url(./../images/d_arrow_r.png) !important;
}

.x-tool-img.x-tool-s-arrow-r {
    background: url('./../images/s_arrow_r.png') no-repeat 0 0;
}

.x-tool-img.x-tool-d-arrow-r {
    background: url('./../images/d_arrow_r.png') no-repeat 0 0;
}

.smgsInputArea {
    position: absolute;
    z-index: 10;
}

.smgsFieldset {
    position: absolute;
    z-index: 11;
    background-color: #EDEFEE;
    border-width: 1px;
    border-color: #000000;
}

.smgsClosedField {
    position: absolute;
    z-index: 10;
    background-color: #CCCCCC;
}

/*.smgsTab .x-tab-right{
background-image:url() !important;
}

.smgsTab .x-tab-left{
background-image:url() !important;
}*/

.ext-ie .x-menu-item-icon {
    left: -24px;
    top: 0px;
}

.ext-strict .x-menu-item-icon {
    left: 3px;
    top: 3px;
}

.ext-ie6 .x-menu-item-icon {
    left: -24px;
    top: 0px;
}

.x-grid3-header {
    position: relative;
}

.th {
    font-weight: bold;
}

.ro {
    background-image: none;
    border: none;
}

.x-tab-panel-bwrap {
    border: 1px solid #8db2e3;
    background: #fff;
}

.x-grid3-hd-inner {
    white-space: normal;
    font-weight: bold;
    text-align: center;
}

.cmr_gruz td {
    vertical-align: top;
}

.view_tbc {
    background: url("../images/view.gif") no-repeat left center;
    cursor: pointer;
    height: 18px;
    padding-left: 16px;
}

.graph_copy {
    background: url("../images/graph_copy.gif") no-repeat left center;
    /*cursor: pointer;*/
    /*height: 18px;*/
    padding-left: 16px;
}

.printed {
    background: url("../images/print1.gif") no-repeat left center;
    /*cursor: pointer;*/
    padding-left: 16px;
}

.locked {
    background: url("../images/locked.gif") no-repeat left center;
    /*cursor: pointer;*/
    padding-left: 16px;
}

.x-column-header.green {
    background-color: #b3e3b3;
    background-image: none;
}

.yardReturnNkon {
    background-color: #4ce37a !important;
}

.executed .x-grid-cell {
        background-color: #b3e3b3 !important;
}

/*.x-column-header.green .x-column-header-over{*/
/*background-color: #b3e3b3;*/
/*background-image: none;*/
/*}*/

.x-tool-img-myheader {
    background-image: url(./../images/s_arrow_r.png) !important;
}

/*----------------------vag ico-------------------*/
.vag {
    background: url(./../images/vag.png) no-repeat !important;
}

.vag1 {
    background: url(./../images/vag/vag1.png) no-repeat !important;
}

.vag2 {
    background: url(./../images/vag/vag2.png) no-repeat !important;
}

.vag3 {
    background: url(./../images/vag/vag3.png) no-repeat !important;
}

.vag4 {
    background: url(./../images/vag/vag4.png) no-repeat !important;
}

.vag5 {
    background: url(./../images/vag/vag5.png) no-repeat !important;
}

.vag6 {
    background: url(./../images/vag/vag6.png) no-repeat !important;
}

.vag7 {
    background: url(./../images/vag/vag7.png) no-repeat !important;
}

.vag8 {
    background: url(./../images/vag/vag8.png) no-repeat !important;
}

.vag9 {
    background: url(./../images/vag/vag9.png) no-repeat !important;
}

.vag10 {
    background: url(./../images/vag/vag10.png) no-repeat !important;
}

.vag11 {
    background: url(./../images/vag/vag11.png) no-repeat !important;
}

.vag12 {
    background: url(./../images/vag/vag12.png) no-repeat !important;
}

.vag13 {
    background: url(./../images/vag/vag13.png) no-repeat !important;
}

.vag14 {
    background: url(./../images/vag/vag14.png) no-repeat !important;
}

.vag15 {
    background: url(./../images/vag/vag15.png) no-repeat !important;
}

.vag16 {
    background: url(./../images/vag/vag16.png) no-repeat !important;
}

.vag17 {
    background: url(./../images/vag/vag17.png) no-repeat !important;
}

.vag18 {
    background: url(./../images/vag/vag18.png) no-repeat !important;
}

.vag19 {
    background: url(./../images/vag/vag19.png) no-repeat !important;
}

.vag20 {
    background: url(./../images/vag/vag20.png) no-repeat !important;
}

.vag21 {
    background: url(./../images/vag/vag21.png) no-repeat !important;
}

.vag22 {
    background: url(./../images/vag/vag22.png) no-repeat !important;
}

.vag23 {
    background: url(./../images/vag/vag23.png) no-repeat !important;
}

.vag24 {
    background: url(./../images/vag/vag24.png) no-repeat !important;
}

.vag25 {
    background: url(./../images/vag/vag25.png) no-repeat !important;
}

.vag26 {
    background: url(./../images/vag/vag26.png) no-repeat !important;
}

.vag27 {
    background: url(./../images/vag/vag27.png) no-repeat !important;
}

.vag28 {
    background: url(./../images/vag/vag28.png) no-repeat !important;
}

.vag29 {
    background: url(./../images/vag/vag29.png) no-repeat !important;
}

.vag30 {
    background: url(./../images/vag/vag30.png) no-repeat !important;
}

.vag31 {
    background: url(./../images/vag/vag31.png) no-repeat !important;
}

.vag32 {
    background: url(./../images/vag/vag32.png) no-repeat !important;
}

.vag33 {
    background: url(./../images/vag/vag33.png) no-repeat !important;
}

.vag34 {
    background: url(./../images/vag/vag34.png) no-repeat !important;
}

.vag35 {
    background: url(./../images/vag/vag35.png) no-repeat !important;
}

.vag36 {
    background: url(./../images/vag/vag36.png) no-repeat !important;
}

.vag37 {
    background: url(./../images/vag/vag37.png) no-repeat !important;
}

.vag38 {
    background: url(./../images/vag/vag38.png) no-repeat !important;
}

.vag39 {
    background: url(./../images/vag/vag39.png) no-repeat !important;
}

.vag40 {
    background: url(./../images/vag/vag40.png) no-repeat !important;
}

.vag41 {
    background: url(./../images/vag/vag41.png) no-repeat !important;
}

.vag42 {
    background: url(./../images/vag/vag42.png) no-repeat !important;
}

.vag43 {
    background: url(./../images/vag/vag43.png) no-repeat !important;
}

.vag44 {
    background: url(./../images/vag/vag44.png) no-repeat !important;
}

.vag45 {
    background: url(./../images/vag/vag45.png) no-repeat !important;
}

.vag46 {
    background: url(./../images/vag/vag46.png) no-repeat !important;
}

.vag47 {
    background: url(./../images/vag/vag47.png) no-repeat !important;
}

.vag48 {
    background: url(./../images/vag/vag48.png) no-repeat !important;
}

.vag49 {
    background: url(./../images/vag/vag49.png) no-repeat !important;
}

.vag50 {
    background: url(./../images/vag/vag50.png) no-repeat !important;
}

.vag51 {
    background: url(./../images/vag/vag51.png) no-repeat !important;
}

.vag52 {
    background: url(./../images/vag/vag52.png) no-repeat !important;
}

.vag53 {
    background: url(./../images/vag/vag53.png) no-repeat !important;
}

.vag54 {
    background: url(./../images/vag/vag54.png) no-repeat !important;
}

.vag55 {
    background: url(./../images/vag/vag55.png) no-repeat !important;
}

.vag56 {
    background: url(./../images/vag/vag56.png) no-repeat !important;
}

.vag57 {
    background: url(./../images/vag/vag57.png) no-repeat !important;
}

.vag58 {
    background: url(./../images/vag/vag58.png) no-repeat !important;
}

.vag59 {
    background: url(./../images/vag/vag59.png) no-repeat !important;
}

.vag60 {
    background: url(./../images/vag/vag60.png) no-repeat !important;
}

.excel {
    background-image: url(./../images/excel-icon.png) !important;
}